:root{
    --primary:#fea116;
    --light:#f1f8ff;
    --dark:#of172b;
}

.hero-header {
    background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-header img{
    animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate{
    100%{
        transform: rotate(360deg);
    }
}
.btn{
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}

.dark-blue-section {
    background-color: #0f173b; /* Dark blue background color */
    color: #ffffff; /* Text color */
    padding: 50px 0; /* Top and bottom padding */
}

.dark-blue-section h2 {
    font-size: 28px; /* Heading font size */
    margin-bottom: 20px; /* Bottom margin for heading */
}

.dark-blue-section p {
    font-size: 16px; /* Paragraph font size */
    line-height: 1.6; /* Paragraph line height */
}

/* Define styles for the section */
.custom-section {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}
.custom-section h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold; /* Make the header text bold */
}
.custom-section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.image-container div {
    margin: 0 10px; /* Add spacing between images */
}
.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the images circular */
    overflow: hidden; /* Hide overflow content outside of the circle */
}
.image-container p {
    color: #555;
    margin-top: 10px;
}


.new-section .mb-4 {
    text-align: center;
}

.bg-light-blue {
    background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(img/bg-hero.jpg);

}
.bg-light-blue p h2 {
    background-color: white ; /* Light Blue background color */
}
.input {
    background: #FFFFFF;
    border-radius: 55px;
    border: none;
}

.subscription-section{

        background-color: #f3e9d2; /* Sandal background color */
    
    
}
.dark-blue-background {
    background-color: #0f173b; /* Dark blue background color */
    color: #ffffff; /* Text color */
    padding: 50px 0; /* Adjust padding as needed */
}


